@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

/* Photo by Jason Leung on Unsplash */

*{
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
  background-image: url('../sources/images/confetti.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* background-position: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2{
  font-size: 2rem;
  text-align: center;
}

.container{
  display: flex;
  text-align: center;
  /* flex-wrap: wrap; */
}

.bigText{
  font-size: 2rem;
  margin: 0 1rem;
  min-width: 3rem;
}

.container span{
  font-weight: 700;
}

@media (min-width: 600px){
  h2{
    font-size: 4rem;
    text-align: center;
  }

  .bigText{
    font-size: 4rem;
    margin: 0 2rem;
    min-width: 6rem;
  }
}